<div class="container">
    <div class="col-md-12">
        <div class="col-md-8">
            <div class="col-md-offset-3">
                <form action="/gallery" method="post">
                    <button type="submit" class="btn btn-succes btn-block">
                        Upload
                    </button>
                </form>
            </div>
        </div>
        
    </div>
</div>