<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Ekhephini</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">Ekhephini FM</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
          <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link"  href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="nav-link"  href="/register">Register</a>
          </li>
          <li class="nav-item">
            <form action='/logout?_method=DELETE' method='POST'>
              <button class="nav-link"  type='submit' class='btn btn-danger bg-dark'>LOGOUT</button>
            </form>
          </li>
        </ul>
      </div>
    </nav>
    <div class="row">
      <div class="container">
        <div class="col-md-12">
          <div class="col-md-8 offset-2 mt-3">
            <h1>Hi <%= name %></h1>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>